.row
  %p Welkom op de homepage
.row.blue
  .large-6.columns
    %h4 Over de applicatie
    %p
      Deze applicatie is ontworpen en ontwikkeld voor studenten en sportverenigingen welke te maken
      hebben met ledenadministratie en commissiebeheer. Met deze applicatie kan je leden en commissies toevoegen
      en deze aan elkaar koppelen
  .large-6.columns
    %h4 Functionaliteiten
    %li Account aanmaken
    %li Inloggen
    %li Leden toevoegen
    %li Leden bewerken
    %li Leden verwijderen
    %li Commissies toevoegen
    %li Commissie bewerken
    %li Commissie verwijderen
    %li Leden aan commissies koppelen
.row.blue
  .large-4.columns.blue
    %h4 Wat moet er nog gebeuren
    %li Leden uit commissies verwijderen, werkend maken
    
		
