.row
  .small-3.columns
    %table
      %thead
        %tr
          %th{:width => "300"} Leden lijst
      %tbody
        - @members.each do |member|
          %tr
            %td
              = link_to member.first_name, member
              = link_to image_tag("delete.png", alt: "verwijderen", size: "20"), member, method: :delete, data: { confirm: 'Are you sure?' }, :class => "icon-align"
              = link_to image_tag("edit.png", alt: "aanpassen", size: "20"), edit_member_path(member), :class => "icon-align"
%br
  .row
    .small-2.columns
    .small-2.columns
      = link_to 'nieuw lid', new_member_path, :class => "button radius"
